D:/git/make_gitignore/.qmake.stash
D:/git/make_gitignore/build/debug/.obj/main.o
D:/git/make_gitignore/Makefile
D:/git/make_gitignore/Makefile.Debug
D:/git/make_gitignore/Makefile.Release
D:/git/make_gitignore/README.md
